# Arquivos Python
__pycache__/
*.pyc

# Streamlit secrets
.streamlit/secrets.toml

# Ambientes virtuais
venv/
.env/

# Jupyter notebooks temporários
.ipynb_checkpoints/

# Arquivos de sistema
.DS_Store
Thumbs.db
